# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false


[*.{js, jsx, ts, tsx, vue, cjs}]
end_of_line = lf
ij_javascript_array_initializer_new_line_after_left_brace = true
ij_javascript_array_initializer_right_brace_on_new_line = true
ij_javascript_array_initializer_wrap = on_every_item
ij_javascript_force_quote_style = true
ij_javascript_spaces_around_equality_operators = true
ij_javascript_spaces_within_imports = true
ij_javascript_use_double_quotes = false
ij_typescript_array_initializer_new_line_after_left_brace = true
ij_typescript_array_initializer_right_brace_on_new_line = true
ij_typescript_array_initializer_wrap = on_every_item
ij_typescript_spaces_around_equality_operators = true
ij_typescript_spaces_within_brackets = false
ij_typescript_spaces_within_imports = true
ij_typescript_force_quote_style = true
ij_typescript_use_double_quotes = false

[{*.har, *.jsb2, *.jsb3, *.json, .babelrc, .eslintrc, .prettierrc, .stylelintrc, bowerrc, jest.config}]
ij_json_keep_blank_lines_in_code = 0
ij_json_keep_indents_on_empty_lines = false
ij_json_keep_line_breaks = true
ij_json_space_after_colon = true
ij_json_space_after_comma = true
ij_json_space_before_colon = true
ij_json_space_before_comma = false
ij_json_spaces_within_braces = false
ij_json_spaces_within_brackets = false
ij_json_wrap_long_lines = false
