<h2>Tickets</h2>

<!--<button>Add ticket</button>-->

<p-table [value]="ticketsWithUsers|async" responsiveLayout="scroll" [formGroup]="formGroup">
  <ng-template pTemplate="header">
    <tr>
      <th>Ticket Description</th>
      <th>Assignee</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ticket let-i="rowIndex" formArrayName="tickets">
    <tr [formGroupName]="i">
      <td class="flex align-items-center">
        <p-toggleButton formControlName="completed" onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
        <p class="ml-3 flex-grow-1 cursor-pointer" [routerLink]="['/', 'tickets', ticket.id]">{{ticket.description}}</p>
      </td>
      <td>
        {{ticket.assignee.name}}
      </td>
    </tr>
  </ng-template>
</p-table>
