<h1><a routerLink="/">Home</a></h1>

<form *ngIf="ticketWithUsers|async as ticket" [formGroup]="formGroup">

  <div class="grid">
    <div class="col-1">Assignee</div>
    <div class="col-11">{{ticket.assignee.name}}</div>
  </div>


  <div class="grid">
    <div class="col-1">Complete</div>
    <div class="col-11"><p-toggleButton formControlName="completed" onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton></div>
  </div>


  <div class="grid">
    <div class="col-1">Description</div>
    <div class="col-11">{{ticket.description}}</div>
  </div>
</form>
